/*
    INSTRUCTIONS

    Using CSS properties alone, recreate this button: 

        http://i.imgur.com/gnZnY.png

    Spend no longer than 45 minutes on it, we don't 
    expect it to be a perfect match. It's open book, 
    feel free to hit Google but be prepared to 
    explain your solution.
*/

a {
	
}
