body{
}

th, td {
text-align: left;
}
.likeabutton {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
	background: yellow; color: black;
	border-style: solid; border-width: 2px;
	}
.space{
margin: 20px;
}
</style>